.weapons-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.critical-failure {
    text-align: center;
    margin: 100px;
}

.critical-failure img {
    box-shadow: -1px 1px 1px 1px #ccc;
    border-radius:3px;
}